html{
  position: relative;
}
body{
  margin-bottom: 100px;
  padding-top: 40px;
}
.jumbotron img{
  width: 200px;
  border: 5px solid #333;

}
hr{
  width: 250px;
  border-top: 3px solid #999;
}

section{
  min-height: 600px;
  margin-bottom: 20px;
}

.portofolio{
  background-color: #eee;

}

.contact{
  min-height: 700px;

}



footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background-color: #203040;
  padding-top: 30px;
  font-size: 0.9em;

}

footer p {
  color: #F2F8EA;
  font-size: 0.5em;
}

.navbar{

}
